{% extends "base.html" %}

{% block content %}

<h4>All Users</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>
                <a class="btn btn-success btn-sm" href="/users/{{user.id}}" role="button">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/users/new" class="btn btn-primary">Add New User</a>
<a href="/all-posts" class="btn btn-secondary">View All Posts</a>

{% endblock %}